*.pyc
*.pdf
**/models/House01/
**/models/eagle 5 transport/
/trials/
/*.png
/output
/car_detector.yaml
/data/**/samples.vec
**/bower_components/
**/node_modules/
**/generated_*/
**/cardetector/static/tmp-detection-img.jpg
